/* General container styles */
.category-container {
    padding: 1rem;
    max-width: 1250px;
    margin: auto;
  }
  
  .category-header {
    
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  /* Grid layout */
  .category-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr); /* Default to 6 items in one row */
  }
  
  /* Card styles */
  .category-card {
    background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Ensure image and details stack vertically */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
  }
  
  .category-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .category-details {
    padding: 0.1rem 01rem;
    
  }
  
  .category-title {
    font-size: 14px;
    font-weight: bold;
   ;
  }
  
  .category-restaurants {
    font-size: 0.9rem;
    color: #f68b1e;
  }
  
  /* Responsive styles */
  @media (max-width: 1024px) {
    .category-grid {
      grid-template-columns: repeat(4, 1fr); /* Show 4 items in one row for tablets */
    }
  }
  
  @media (max-width: 768px) {
    .category-grid {
      grid-template-columns: repeat(2, 1fr); /* Show 2 items in one row for mobile */
    }

    .category-details{
      background-color: #03081F;
    }
    .category-title{
      color: #FC8A06;
    }
    .category-restaurants{
      color: #FFFFFF;
      font-weight: 400;
    }
  }
  
  @media (max-width: 480px) {
    .category-grid {
      gap: 1rem; /* Reduce the gap between cards on smaller screens */
    }
  
    .category-header {
      font-size: 1.2rem;
    }
  }
  